<h1>Edit todo </h1>

<% if @todo.errors.any? %>
<h2>The folowing errors prevented the todo from being saved</h2>
<ul>
  <% @todo.errors.full_messages.each do |msg| %>
  <li>
    <%= msg %>
  </li>
  <% end %>
</ul>
<% end %>


<%= render partial: 'form', locals: {nameBtn1: "Update", nameBtn2: "Delete"} %>